* {
    font-family:Arial, Helvetica, sans-serif;
}

/**********************/
/* GENERAL BODY STYLE */
/**********************/
body {
    /* margin: 0; */
    min-height: 100vh;
    min-width: 460px;
    /* width: 100vw; */

    /* border-style: solid; */

    display: flex;
    flex-direction: column;   
}

/*****************/
/* HEADER STYLES */
/*****************/
.header {
    padding: 0.5vh 0;
    background-color: rgb(178, 210, 211);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-style: solid;
}

.header-left {
    margin-left: 1vw;

    display: flex;
    gap: 3vw;

    /* border-style: solid; */
}
/* .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    padding: 12px;

    border-style: solid;
    border-radius: 24px;

    border-style: solid;
} */
.header-name {
    font-size: 24px;
    font-weight: bold;
    padding: 12px;

    display: flex;
    align-items: center;
    
    /* border-style: solid; */
}


.header-right {
    margin-right: 1vw;
    margin-left: 1vw;
    max-width: 1000px;

    /* border-style: solid; */
}
ul {
    list-style-type: none;
    font-size: 16px;
    /* margin-left: 1vw; */
    /* padding-left: 1vw; */
    margin: 0.5vh 0;

    display: flex;
    column-gap: 2vw;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
    /* border-style: solid; */
}
li {

    /* border-style: solid; */
}
a {
    text-decoration: none;

    /* border-style: solid; */
}

.text-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
}
.contn1-text-list {
    font-size: 18px;
    text-align: justify;
    margin: 8px 12px;
    margin-right: auto;
    /* border-style: solid; */
}



/*****************/
/* CONTN1 STYLES */
/*****************/
.contn1 {
    flex: 1;
    
    display: flex;
    padding-bottom: auto;

    border-style: solid;
}

.contn1-left {
    flex: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-style: solid; */
}
.contn1-title {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 4px;
    text-align: center;
    /* border-style: solid; */
}
.contn1-quotes {
    /* border-style: solid; */
}
.quote {
    font-size: 16px;
    margin: 8px 12px;
    padding: 4px 0;  
}
.contn1-text {
    font-size: 18px;
    text-align: justify;
    margin: 8px 12px;
    /* border-style: solid; */
}
.contn1-img1 {
    /* flex: 0; */
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: solid;
}


.contn1-right {
    flex: 1;
    
    /* border-style: solid; */
}

.contn1-img2 {
    width: 100%;
    height: auto;
    
    border-style: solid;
}

/*****************/
/* FOOTER STYLES */
/*****************/
.footer {
    background-color: rgb(118, 221, 224);
    color: rgb(100, 61, 122);
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: 0;
    border-color: black;


    /* display: flex; */
    /* justify-content: center; */
    
    border-style: solid;
}



